{% for chapter in chapters %}
<div class="accordion border border-dark" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ chapter.id }}" aria-expanded="false" aria-controls="collapsTwo" fdprocessedid="58sgg4">
                    Chapter: {{ loop.index }} {{ chapter.name }}
            </button>
        </h2>
        <div id="{{ chapter.id }}" class="accordion-collapse collapse">
            <div class="accordion-body">
                <div>
                    <!-- Modify Chapter Button -->
                    <button type="button" class="btn btn-warning me-auto mx-2 mb-2" id="sub{{ chapter.id }}" value="{{ chapter.id }}" onclick="getChapterDetails('{{ chapter.id }}')" data-bs-toggle="modal" data-bs-target="#modifyChapterModal"><i class="bi bi-pencil"></i> Edit Chapter</button>
                    
                    <!--upcoming table STARTS-->
                    <div class="container">
                        <!-- Tabs START -->
                        <ul class="nav nav-pills justify-content-sm-center mb-0 px-3 bg-dark chapter-bar" id="course-pills-tab00" role="tablist">
                            <!-- Tab item -->
                            <li class="nav-item me-2 me-sm-5" role="presentation">
                                <button class="nav-link mb-2 mb-md-0 active p-1" id="chapter-head-lecture-{{ chapter.id}}" data-bs-toggle="pill" data-bs-target="#chapter-content-lecture-{{ chapter.id}}" type="button" role="tab" aria-controls="course-pills-tabs-11" aria-selected="false" tabindex="-1">Lectures</button>
                            </li>
                            <!-- Tab item -->
                            <li class="nav-item me-2 me-sm-5" role="presentation">
                                <button class="nav-link mb-2 mb-md-0 p-1" id="chapter-head-quizzes-{{ chapter.id}}" data-bs-toggle="pill" data-bs-target="#chapter-content-quizzes-{{ chapter.id}}" type="button" role="tab" aria-controls="course-pills-tabs-22" aria-selected="false" tabindex="-1">Quizzes</button>
                            </li>
                        </ul>
                       
                        <!-- Tabs END -->

                        <!-- Tabs content START -->
                        <div class="tab-content" id="course-pills-tabContent00">



                            <!-- Content START -->
                            <div class="tab-pane fade active show" id="chapter-content-lecture-{{ chapter.id}}" role="tabpanel" aria-labelledby="course-pills-tab-1" style="padding-left: 28px; padding-bottom: 70px; padding-top: 25px;">
                                
                                <div class="d-flex mb-3">
                                    <!-----------------------------------ADD Lecture Modal Button-------------------------------------------------------->
                                    <button type="button" class="btn btn-dark me-auto" onclick="addLectureAction('{{ chapter.id }}')" data-bs-toggle="modal" data-bs-target="#addLectureModal"><i class="bi bi-plus-lg"></i> Add Lecture</button>
                                    <!--------------------------------------ADD Lecture Modal Button END--------------------------------------------------->  
                                </div>

                                <table class="table table-hover">
                                    <thead class="table-dark">
                                    <tr>
                                        <th scope="col">S No.</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Link</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                    {% for lecture in lectures[chapter.id] %}
                                    <tr>
                                        <th scope="row">{{ loop.index }}</th>
                                        <td>{{ lecture.name }}</td>
                                        <td class="text-wrap" style="width: 28rem;" >{{ lecture.description }}</td>
                                        <td><a href="{{ lecture.link }}">Link</a></td>
                                        <td>
                                            <button type="button" class="btn btn-primary view-btn" id="chap{{ lecture.id }}" value="{{ lecture.id }}" onclick="getLectureDetails('{{ lecture.id }}')" data-bs-toggle="modal" data-bs-target="#modifyLectureModal"><i class="bi bi-pencil"></i></button>
                                            <a href="" class="btn btn-danger view-btn" type="button"><i class="bi bi-trash"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- Content END -->

                            <!-- Content START -->
                            <div class="tab-pane fade" id="chapter-content-quizzes-{{ chapter.id}}" role="tabpanel" aria-labelledby="course-pills-tab-1" style="padding-left: 28px; padding-bottom: 70px; padding-top: 25px;">
                                <div class="d-flex mb-3">
                                    <!-----------------------------------ADD Quiz Modal-------------------------------------------------------->
                                    <button type="button" class="btn btn-dark me-auto" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-plus-lg"></i> Add Quiz</button>
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
                                        <div class="modal-dialog modal-dialog-centered  modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                            <form>
                                                <div class="mb-3">
                                                <label for="recipient-name" class="col-form-label">Recipient:</label>
                                                <input type="text" class="form-control" id="recipient-name">
                                                </div>
                                                <div class="mb-3">
                                                <label for="message-text" class="col-form-label">Message:</label>
                                                <textarea class="form-control" id="message-text"></textarea>
                                                </div>
                                            </form>
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Send message</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <!--------------------------------------ADD Quiz Modal END--------------------------------------------------->  
                                </div>
                                <table class="table table-hover">
                                    <thead class="table-dark">
                                    <tr>
                                        <th scope="col">S No.</th>
                                        <th scope="col">Release Date</th>
                                        <th scope="col">Time Duration</th>
                                        <th scope="col">Total Attempts</th>
                                        <th scope="col">Deadline</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Understandirs</td>
                                        <td>Gives DeepOf Set Theory</td>
                                        <td>Gives DeepOf Set Theory</td>
                                        <td><a href="google.com">Link</a></td>
                                        <td>
                                            <a href="" class="btn btn-primary view-btn" type="button"><i class="bi bi-pencil"></i></a>
                                            <a href="" class="btn btn-danger view-btn" type="button"><i class="bi bi-trash"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- Content END -->










                            


                            
                        </div>
                        <!-- Tabs content END -->
                    </div>
                    <!--upcoming table ENDS-->




                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}