{% extends 'base/admin_base.html' %}
{% block page_title %} Home {% endblock %}

{% block user_css %}
<style>       
    .view-btn{
        padding: 0px 24px;
        margin-top: -3px;
    }
</style>
{% endblock %}

{% block admin_content %} 
<div class="px-4 text-center">
  
  <div class="mb-5">
    <!-- Title (Centered) -->
    <h3 ><span class="badge text-bg-warning">Users</span></h3>
  </div>

    <!--upcoming table STARTS-->
    <div class="container my-5">
        <div class="position-relative px-5 py-3 text-center text-muted bg-body border border-dashed rounded-5">  
            <div class="d-flex justify-content-center position-relative">
                <h2><code>Data of Registered Users</code></h2>
            </div> <br>
            <form class="d-flex" role="search" action="/search_user">
                <input class="form-control me-2" type="search"  name="usr" placeholder="Search Users" aria-label="Search">
                <button class="btn btn-dark" type="submit"><i class="bi bi-search"></i></button>
            </form><br>            
            <div>
                <table class="table table-hover">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">S No.</th>
                        <th scope="col" class="text-wrap" style="width: 6rem;">Name</th>
                        <th scope="col" class="text-wrap" style="width: 6rem;">Email Address</th>
                        <th scope="col">Username</th>
                        <th scope="col">Dob</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Blood Group</th>
                        <th scope="col">Qualification</th>
                        <!-- <th scope="col">Total Courses</th>
                        <th scope="col">Performance</th> -->
                        <th scope="col">Action</th>
                        
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    {% for user in all_users %}
                      <tr class="pt-5">
                          <th scope="row">{{ loop.index }}</th>
                          <td >{{ user.firstname }} {{ user.lastname }}</td>
                          <td >{{ user.email }}</td>
                          <td>{{ user.username }}</td>
                          <th>{{ user.dob }}</th>
                          <td>{{ user.gender }}</td>
                          <td>{{ user.bloodgroup }}</td>
                          <td>{{ user.qualification }}</td>
                          <!-- <th>{{ user.firstname }}</th>
                          <td>{{ user.firstname }}</td> -->
                          <td>
                              <a href="" class="btn btn-primary view-btn" type="button"><i class="bi bi-eye"></i></a>
                          </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div><br>
    </div>
    <!--upcoming table ENDS-->

</div>
{% endblock %}