{% extends 'base/admin_base.html' %}
{% block page_title %} Home {% endblock %}

{% block user_css %}
<style>   
    .user-summary1 {
        background-image: linear-gradient(310deg, #7928ca, #ff0080);
    }

    .user-summary2 {
        background-color: #261878 !important;
    }
    
    .view-btn{
        padding: 0px 24px;
        margin-top: -3px;
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #212529;
    background-color: #fff;
    }

    .nav-link:focus, .nav-link:hover {
        color: #fff;
    }
    
    .nav-link {
        color: #fff;
    }

    .sub-category{
        padding-left: 28px;
        padding-bottom: 70px;
        padding-top: 25px;
    }
</style>
{% endblock %}

{% block admin_content %} 
<div class="px-4 text-center">

    <div class="mb-5">
        <!-- Title (Centered) -->
        <h3 ><span class="badge text-bg-warning">All Subjects</span></h3>
      </div>

    <!--user short summary STARTS-->
    <div class="container my-5">
        <div class="row g-4">
          <!-- Counter item -->
          <div class="col-sm-6 col-xl-3">
            <div class="d-flex justify-content-center align-items-center p-4 user-summary1 bg-opacity-15 rounded-3">
              <span class="display-6 lh-1 text-white mb-0"><i class="bi bi-check2-square"></i></span>
              <div class="ms-4 h6 fw-normal mb-0">
                <div class="d-flex">
                  <h5 class="purecounter mb-0 fw-bold text-white" data-purecounter-start="0" data-purecounter-end="10" data-purecounter-delay="200" data-purecounter-duration="0">21</h5>
                </div>
                <p class="mb-0 text-white">Quiz Attempted</p>
              </div>
            </div>
          </div>
          <!-- Counter item -->
          <div class="col-sm-6 col-xl-3">
            <div class="d-flex justify-content-center align-items-center p-4 user-summary2 bg-opacity-10 rounded-3">
              <span class="display-6 lh-1 text-warning mb-0"><i class="bi bi-file-earmark-bar-graph"></i></span>
              <div class="ms-4 h6 fw-normal mb-0">
                <div class="d-flex">
                  <h5 class="purecounter mb-0 fw-bold text-warning" data-purecounter-start="0" data-purecounter-end="200" data-purecounter-delay="200" data-purecounter-duration="0">86</h5>
                  <span class="mb-0 h5 text-warning">%</span>
                </div>
                <p class="mb-0 text-warning">Performance</p>
              </div>
            </div>
          </div>
          <!-- Counter item -->
          <div class="col-sm-6 col-xl-3">
            <div class="d-flex justify-content-center align-items-center p-4 user-summary1 bg-opacity-10 rounded-3">
              <span class="display-6 lh-1 text-white mb-0"><i class="bi bi-journals"></i></i></span>
              <div class="ms-4 h6 fw-normal mb-0">
                <div class="d-flex">
                  <h5 class="purecounter mb-0 fw-bold text-white" data-purecounter-start="0" data-purecounter-end="6" data-purecounter-delay="300" data-purecounter-duration="0">4</h5>
                </div>
                <p class="mb-0 text-white">Current Courses</p>
              </div>
            </div>
          </div>
          <!-- Counter item -->
          <div class="col-sm-6 col-xl-3">
            <div class="d-flex justify-content-center align-items-center p-4 user-summary2 bg-opacity-10 rounded-3">
              <span class="display-6 lh-1 text-warning mb-0"><i class="bi bi-file-earmark-check"></i></span>
              <div class="ms-4 h6 fw-normal mb-0">
                <div class="d-flex">
                  <h5 class="purecounter mb-0 fw-bold text-warning" data-purecounter-start="0" data-purecounter-end="6" data-purecounter-delay="300" data-purecounter-duration="0">2</h5>
                 
                </div>
                <p class="mb-0 text-warning">Completed Courses</p>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!--user short summary ENDS-->
    <!--upcoming table STARTS-->
    <div class="container">
        <!-- Tabs START -->
        <ul class="nav nav-pills justify-content-sm-center mb-4 px-3 bg-dark" id="course-pills-tab" role="tablist" style="border-radius: 21px;height: auto; padding: 6px 0px;">
            <!-- Tab item -->
            <li class="nav-item me-2 me-sm-5" role="presentation">
                <button class="nav-link mb-2 mb-md-0 active" id="course-pills-tab-1" data-bs-toggle="pill" data-bs-target="#course-pills-tabs-1" type="button" role="tab" aria-controls="course-pills-tabs-1" aria-selected="false" tabindex="-1">Data Science</button>
            </li>
            <!-- Tab item -->
            <li class="nav-item me-2 me-sm-5" role="presentation">
                <button class="nav-link mb-2 mb-md-0" id="course-pills-tab-2" data-bs-toggle="pill" data-bs-target="#course-pills-tabs-2" type="button" role="tab" aria-controls="course-pills-tabs-2" aria-selected="false" tabindex="-1">Electronic Stytems</button>
            </li>
            <!-- Tab item -->
            <li class="nav-item me-2 me-sm-5" role="presentation">
                <button class="nav-link mb-2 mb-md-0" id="course-pills-tab-3" data-bs-toggle="pill" data-bs-target="#course-pills-tabs-3" type="button" role="tab" aria-controls="course-pills-tabs-3" aria-selected="false" tabindex="-1">Graphic Design</button>
            </li>
            <!-- Tab item -->
            <li class="nav-item me-2 me-sm-5" role="presentation">
                <button class="nav-link mb-2 mb-md-0" id="course-pills-tab-4" data-bs-toggle="pill" data-bs-target="#course-pills-tabs-4" type="button" role="tab" aria-controls="course-pills-tabs-4" aria-selected="false" tabindex="-1">Cyber Security</button>
            </li>
            <!-- Tab item -->
            <li class="nav-item me-2 me-sm-5" role="presentation">
                <button class="nav-link mb-2 mb-md-0" id="course-pills-tab-5" data-bs-toggle="pill" data-bs-target="#course-pills-tabs-5" type="button" role="tab" aria-controls="course-pills-tabs-5" aria-selected="true">Finance</button>
            </li>
        </ul>
        <div class="d-flex mx-4">
            <!-----------------------------------ADD Subject Modal--------------------------------------->
            <button type="button" class="btn btn-dark me-auto mx-2" data-bs-toggle="modal" data-bs-target="#addSubjectModal"><i class="bi bi-plus-lg"></i> Add Subject</button>
            <div class="modal fade" id="addSubjectModal" tabindex="-1" aria-labelledby="addSubjectModalLabel" aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog modal-dialog-centered  modal-dialog-scrollable">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Add A New Subject</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/admin_subject" method="post" enctype="multipart/form-data">

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="sub_name" name="sub_name" placeholder="Subject Name" required>
                                <label for="sub_name">Subject Name</label>
                            </div>
                            
                            <div class="form-floating mb-3">
                                <select class="form-select" id="category" aria-label="Floating label select example" name="category" required>
                                    <option selected disabled value="">Select Category</option>
                                    <option value="Data Science">Data Science</option>
                                    <option value="Electronic Systems">Electronic Systems</option>
                                    <option value="Graphic Design">Graphic Design</option>
                                    <option value="Cyber Security">Cyber Security</option>
                                    <option value="Finance">Finance</option>
                                </select>
                                <label for="category">Subject Category</label>
                            </div>

                            <div class="form-control mb-3">
                                <input type="radio" onclick="fetchAllInstructors()" class="btn-check" name="options-base" id="option6" autocomplete="off">
                                <label class="btn btn-outline-dark" for="option6">Click Here To Select Instructors For This Course</label>
                            </div>
                            <div  id="all_instructor">
                                <!--ALL INSTRUCTORS COMES-->
                            </div>

                            <div class="form-floating mb-3">
                                <textarea  type="text" class="form-control" id="description" name="description" placeholder="Subject Description" style="height: 100px" required></textarea>
                                <label for="description">Subject Description</label>
                            </div>
                            
                            <div class="input-group mb-3 d-flex flex-row" style="height: 60px;">
                                <div class="text-center me-2">
                                    <img src="/static/uploads/prev_image.png" id="prev_sub_image" width="60px" height="60px" class="rounded" alt="Subject Image">
                                  </div>
                              <input type="file" onchange="previewImage(event, 'prev_sub_image')" id="sub_image" name="sub_image" class="form-control rounded-3" style="height: 60px;line-height: 60px; padding: 0px 10px;" required>
                            </div>   
                                
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-dark" value="Add Subject" style="width: 120px;">
                            </div>
                        </form>
                    </div>
                    
                  </div>
                </div>
            </div>
            <!--------------------------------------ADD Subject Modal END--------------------------------------------------->  
            
            <!----------------------------------MODIFY Subject Modal--------------------------------------->
            <div class="modal fade" id="modifySubjectModal" tabindex="-1" aria-labelledby="modifySubjectModalLabel" aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog modal-dialog-centered  modal-dialog-scrollable">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Modify Subject Info</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="" id="modify_sub_info" method="post" enctype="multipart/form-data">
                            
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="mod_sub_name" name="mod_sub_name" placeholder="Subject Name" required>
                                <label for="mod_sub_name">Subject Name</label>
                            </div>

                            <div class="form-floating mb-3">
                                <select class="form-select" id="mod_category" aria-label="Floating label select example" name="mod_category" required>
                                    <option selected disabled value="">Select Category</option>
                                    <option value="Data Science">Data Science</option>
                                    <option value="Electronic Systems">Electronic Systems</option>
                                    <option value="Graphic Design">Graphic Design</option>
                                    <option value="Cyber Security">Cyber Security</option>
                                    <option value="Finance">Finance</option>
                                </select>
                                <label for="mod_category">Subject Category</label>
                            </div>


                            <div  id="mod_all_instructor">
                                <!--ALL INSTRUCTORS COMES-->
                            </div>





                            
                            <div class="form-floating mb-3">
                                <textarea  type="text" class="form-control" id="mod_description" name="mod_description" placeholder="Subject Description" style="height: 100px" required></textarea>
                                <label for="mod_description">Subject Description</label>
                            </div>

                            <div class="input-group mb-3 d-flex flex-row" style="height: 60px;">
                                <div class="text-center me-2">
                                    <img src="" id="mod_prev_sub_image" width="60px" height="60px" class="rounded" alt="Subject Image">
                                </div>
                              <input type="file" onchange="previewImage(event, 'mod_prev_sub_image')" id="mod_sub_image" name="mod_sub_image" class="form-control rounded-3" style="height: 60px;line-height: 60px; padding: 0px 10px;">
                            </div>
                                
                            <div class="modal-footer">
                                <button type="button" class="btn btn-warning " id="reset" value="" onclick="getSubjectDetails(value)">Reset</button>&nbsp;&nbsp;
                                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-dark" value="Modify Subject" style="width: 135px;">
                            </div>
                        </form>
                    </div>
                    
                  </div>
                </div>
            </div>
            <!--------------------------------------MODIFY Subject Modal END--------------------------------------------------->  
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-dark" type="submit"><i class="bi bi-search"></i></button>
              </form>
        </div>
        <!-- Tabs END -->
    
        <!-- Tabs content START -->
        <div class="tab-content" id="course-pills-tabContent">
    
    
    
            <!-- Content START -->
            <div class="tab-pane fade active show sub-category" id="course-pills-tabs-1" role="tabpanel" aria-labelledby="course-pills-tab-1">
                <div class="row g-2" >

                    {% for subject in subjects %}
                        {% if subject.category == "Data Science" %}
                        <!-- Card item START -->
                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <div class="card" style="width: 18rem;">
                                <img src="/static/uploads/{{ subject.sub_image }}" width="100%" height="180" class="card-img-top" alt="...">
                                <div class="card-body">
                                <h5 class="card-title">{{ subject.name }}</h5>
                                <p class="card-text">{{ subject.description[:80] }}... <a href="#" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">view more</a></p>
                                <a href="/admin_module/{{ subject.id }}" class="btn btn-warning w-100">Explore</a><br><br>
                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn btn-dark w-50" id="sub{{ subject.id }}" value="{{ subject.id }}" onclick="getSubjectDetails('{{ subject.id }}')" data-bs-toggle="modal" data-bs-target="#modifySubjectModal"><i class="bi bi-pencil"></i>&nbsp;&nbsp;Edit</button>&nbsp;&nbsp;
                                    <a href="#" class="btn btn-danger w-50"><i class="bi bi-trash"></i>&nbsp;&nbsp;Delete</a>
                                </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card item END -->
                        {% endif %}
                     {% endfor %}
      
                </div> <!-- Row END -->
            </div>
            <!-- Content END -->
    
            <!-- Content START -->
            <div class="tab-pane fade sub-category" id="course-pills-tabs-2" role="tabpanel" aria-labelledby="course-pills-tab-2">
                <div class="row g-2">
                    
                    {% for subject in subjects %}
                        {% if subject.category == "Electronic Systems" %}
                        <!-- Card item START -->
                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <div class="card" style="width: 18rem;">
                                <img src="/static/uploads/{{ subject.sub_image }}" width="100%" height="180" class="card-img-top" alt="...">
                                <div class="card-body">
                                <h5 class="card-title">{{ subject.name }}</h5>
                                <p class="card-text">{{ subject.description[:80] }}... <a href="#" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">view more</a></p>
                                <a href="/admin_module/{{ subject.id }}" class="btn btn-warning w-100">Explore</a><br><br>
                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn btn-dark w-50" id="sub{{ subject.id }}" value="{{ subject.id }}" onclick="getSubjectDetails('{{ subject.id }}')" data-bs-toggle="modal" data-bs-target="#modifySubjectModal"><i class="bi bi-pencil"></i>&nbsp;&nbsp;Edit</button>&nbsp;&nbsp;
                                    <a href="#" class="btn btn-danger w-50"><i class="bi bi-trash"></i>&nbsp;&nbsp;Delete</a>
                                </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card item END -->
                        {% endif %}
                     {% endfor %}

                </div>
            </div>
            <!-- Content END -->
    
            <!-- Content START -->
            <div class="tab-pane fade sub-category" id="course-pills-tabs-3" role="tabpanel" aria-labelledby="course-pills-tab-3">
                <div class="row g-4">
                    
                    {% for subject in subjects %}
                        {% if subject.category == "Graphic Design" %}
                        <!-- Card item START -->
                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <div class="card" style="width: 18rem;">
                                <img src="/static/uploads/{{ subject.sub_image }}" width="100%" height="180" class="card-img-top" alt="...">
                                <div class="card-body">
                                <h5 class="card-title">{{ subject.name }}</h5>
                                <p class="card-text">{{ subject.description[:80] }}... <a href="#" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">view more</a></p>
                                <a href="/admin_module/{{ subject.id }}" class="btn btn-warning w-100">Explore</a><br><br>
                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn btn-dark w-50" id="sub{{ subject.id }}" value="{{ subject.id }}" onclick="getSubjectDetails('{{ subject.id }}')" data-bs-toggle="modal" data-bs-target="#modifySubjectModal"><i class="bi bi-pencil"></i>&nbsp;&nbsp;Edit</button>&nbsp;&nbsp;
                                    <a href="#" class="btn btn-danger w-50"><i class="bi bi-trash"></i>&nbsp;&nbsp;Delete</a>
                                </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card item END -->
                        {% endif %}
                     {% endfor %}

                </div>
            </div>
            <!-- Content END -->
    
            <!-- Content START -->
            <div class="tab-pane fade sub-category" id="course-pills-tabs-4" role="tabpanel" aria-labelledby="course-pills-tab-4">
                <div class="row g-4">
                    {% for subject in subjects %}
                        {% if subject.category == "Cyber Security" %}
                        <!-- Card item START -->
                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <div class="card" style="width: 18rem;">
                                <img src="/static/uploads/{{ subject.sub_image }}" width="100%" height="180" class="card-img-top" alt="...">
                                <div class="card-body">
                                <h5 class="card-title">{{ subject.name }}</h5>
                                <p class="card-text">{{ subject.description[:80] }}... <a href="#" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">view more</a></p>
                                <a href="/admin_module/{{ subject.id }}" class="btn btn-warning w-100">Explore</a><br><br>
                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn btn-dark w-50" id="sub{{ subject.id }}" value="{{ subject.id }}" onclick="getSubjectDetails('{{ subject.id }}')" data-bs-toggle="modal" data-bs-target="#modifySubjectModal"><i class="bi bi-pencil"></i>&nbsp;&nbsp;Edit</button>&nbsp;&nbsp;
                                    <a href="#" class="btn btn-danger w-50"><i class="bi bi-trash"></i>&nbsp;&nbsp;Delete</a>
                                </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card item END -->
                        {% endif %}
                     {% endfor %}
                </div>
            </div>
            <!-- Content END -->
    
            <!-- Content START -->
            <div class="tab-pane fade sub-category" id="course-pills-tabs-5" role="tabpanel" aria-labelledby="course-pills-tab-5">
                <div class="row g-4">
                    {% for subject in subjects %}
                        {% if subject.category == "Finance" %}
                        <!-- Card item START -->
                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <div class="card" style="width: 18rem;">
                                <img src="/static/uploads/{{ subject.sub_image }}" width="100%" height="180" class="card-img-top" alt="...">
                                <div class="card-body">
                                <h5 class="card-title">{{ subject.name }}</h5>
                                <p class="card-text">{{ subject.description[:80] }}... <a href="#" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">view more</a></p>
                                <a href="/admin_module/{{ subject.id }}" class="btn btn-warning w-100">Explore</a><br><br>
                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn btn-dark w-50" id="sub{{ subject.id }}" value="{{ subject.id }}" onclick="getSubjectDetails('{{ subject.id }}')" data-bs-toggle="modal" data-bs-target="#modifySubjectModal"><i class="bi bi-pencil"></i>&nbsp;&nbsp;Edit</button>&nbsp;&nbsp;
                                    <a href="#" class="btn btn-danger w-50"><i class="bi bi-trash"></i>&nbsp;&nbsp;Delete</a>
                                </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card item END -->
                        {% endif %}
                     {% endfor %}
                </div>
            </div>
            <!-- Content END -->

        </div>
        <!-- Tabs content END -->
    </div>
    <!--upcoming table ENDS-->

</div>
<script>

    //FOR PREVIEW THE DETAILS IN FORM
   async function getSubjectDetails(subjectId) {
    try {
        let response = await fetch(`http://127.0.0.1:5000/modify_subject/${subjectId}`);
        let data = await response.json();

        if (data.error) {
            alert("Subject not found!");
            return;
        }
        console.log("Fetched Data:", data); 
        //Assignming subjects details in modify form by using ({id_name}.value)
        mod_sub_name.value = data.name || "";
        mod_category.value = data.category || "";
        document.getElementById("mod_description").value = data.description || "";
        mod_prev_sub_image.src = `/static/uploads/${data.sub_image}` || "";
        reset.value = data.id
        mod_sub_image = data.sub_image
        modify_sub_info.action = "/modify_subject/" + data.id;

        //FOR SELECTED INSTRUCTOR PREVIEW
        mod_all_instructor.innerHTML = "" //ensures same options is not added while clicking dropdown multiple times
        
        //Selected Instructors
        selected_instructors = data.selected_instructors
        //All Instructors
        all_instructors = data.all_instructors

        // // Loop for showing Selected Instructors
        // selected_instructors.forEach(instructor => {
        //     mod_all_instructor.innerHTML += `
        //     <div class="input-group mb-3">
        //         <input class="form-check-input" type="checkbox" id = "${instructor.id}" name = "${instructor.id}" value = "${instructor.id}" aria-label="Checkbox for following text input" checked>  
        //         &nbsp;&nbsp;<label class="form-check-label" for="${instructor.id}">${instructor.name}</label>
        //     </div>`
        //  });


        // Loop for showing Selected Instructors
         all_instructors.forEach(instructor => {
        // Check if the instructor exists in selected_instructors based on ID
        const isChecked = selected_instructors.some(selected => selected.id === instructor.id);

        mod_all_instructor.innerHTML += `
        <div class="input-group mb-3">
            <input class="form-check-input" type="checkbox" id="${instructor.id}" name="${instructor.id}" value="${instructor.id}" ${isChecked ? 'checked' : ''}>  
            &nbsp;&nbsp;<label class="form-check-label" for="${instructor.id}">${instructor.name}</label>
        </div>`;
        });

        //The .some() method is used to check if at least one element in an array satisfies a given condition. It returns a boolean value (true or false).
        //  .includes() only works for primitive values (numbers, strings, booleans).
        // .some() works for objects because we can check a specific property.

    } catch (error) {
        console.error("Error fetching subject details:", error);
    }
}

    //PREVIEW IMAGE
    function previewImage(event, imgId) {
        let file = event.target.files[0]; // Get the selected file
        if (file) {
            let reader = new FileReader(); // If a file is selected, a FileReader object is created
            //FileReader reads the file
            // reader.onload is an event handler fires when reading is complete.
            // An event handler is a function that runs in response to an event 
            // (such as a button click, a file selection, or a page load).
            // It is used to define what should happen when a specific event occurs.
            reader.onload = e => document.getElementById(imgId).src = e.target.result; // Set image src
            reader.readAsDataURL(file); // Convert file to Base64 URL
        }
    }

    //FOR INSTRUCTOR CHECKBOXES
    async function fetchAllInstructors()
    {
        try {
        let response = await fetch("http://127.0.0.1:5000/admin_instructor/all_instructors");
        let data = await response.json();
        if (data.error) {
            alert("Instructors not found!");
            return;
        }
        console.log("Fetched Data:", data);

        all_instructor.innerHTML = "" //ensures same options is not added while clicking dropdown multiple times
         
        // Loop through the JSON data
        data.forEach(instructor => {
            all_instructor.innerHTML += `
            <div class="input-group mb-3">
                <input class="form-check-input" type="checkbox" id = "${instructor.id}" name = "${instructor.id}" value = "${instructor.id}" aria-label="Checkbox for following text input">  
                &nbsp;&nbsp;<label class="form-check-label" for="${instructor.id}">${instructor.name}</label>
            </div>`
        });

        } catch (error) {
            console.error("Error fetching subject details:", error);
        }
    }

</script>
{% endblock %}