{% extends 'base/admin_base.html' %}
{% block page_title %} {{ subject.name }} {% endblock %}

{% block user_css %}
<style>   
    .user-summary1 {
        background-image: linear-gradient(310deg, #7928ca, #ff0080);
    }

    .user-summary2 {
        background-color: #261878 !important;
    }
    
    .view-btn{
        padding: 0px 24px;
        margin-top: -3px;
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #212529;
    background-color: #fff;
    }

    .nav-link:focus, .nav-link:hover {
        color: #fff;
    }
    
    .nav-link {
        color: #fff;
    }
    .accordion {
    margin-bottom: 10px; /* Adjust the value as needed */
    /* border: 2px solid 	#212529;  Change color as needed */
    border-radius: 8px;
    }

    .chapter-bar{
        border-radius: 21px;
        height: auto; 
        padding: 6px 0px;
    }
</style>
{% endblock %}

{% block admin_content %} 
<div class="px-4 text-center">

    <div class="mb-5">
        <!-- Title (Centered) -->
        <h3 ><span class="badge text-bg-warning">Add Chapters To {{ subject.name }}</span></h3>
        <div class="container my-5">
            <div class="position-relative px-5 py-3 text-center text-muted bg-body border border-dashed rounded-4">
                <h2 class="mb-3"><code>Description</code></h2>
                <p class="carousel-container fs-5 fw-semibold ">
                    {{ subject.description }}
                </p>
            </div>
        </div>
      </div>
       

    <!--user short summary STARTS-->
    <div class="container my-5">
        <div class="row g-4">
          <!-- Counter item -->
          <div class="col-sm-6 col-xl-3">
            <div class="d-flex justify-content-center align-items-center p-4 user-summary1 bg-opacity-15 rounded-3">
              <span class="display-6 lh-1 text-white mb-0"><i class="bi bi-check2-square"></i></span>
              <div class="ms-4 h6 fw-normal mb-0">
                <div class="d-flex">
                  <h5 class="purecounter mb-0 fw-bold text-white" data-purecounter-start="0" data-purecounter-end="10" data-purecounter-delay="200" data-purecounter-duration="0">21</h5>
                </div>
                <p class="mb-0 text-white">Quiz Attempted</p>
              </div>
            </div>
          </div>
          <!-- Counter item -->
          <div class="col-sm-6 col-xl-3">
            <div class="d-flex justify-content-center align-items-center p-4 user-summary2 bg-opacity-10 rounded-3">
              <span class="display-6 lh-1 text-warning mb-0"><i class="bi bi-file-earmark-bar-graph"></i></span>
              <div class="ms-4 h6 fw-normal mb-0">
                <div class="d-flex">
                  <h5 class="purecounter mb-0 fw-bold text-warning" data-purecounter-start="0" data-purecounter-end="200" data-purecounter-delay="200" data-purecounter-duration="0">86</h5>
                  <span class="mb-0 h5 text-warning">%</span>
                </div>
                <p class="mb-0 text-warning">Performance</p>
              </div>
            </div>
          </div>
          <!-- Counter item -->
          <div class="col-sm-6 col-xl-3">
            <div class="d-flex justify-content-center align-items-center p-4 user-summary1 bg-opacity-10 rounded-3">
              <span class="display-6 lh-1 text-white mb-0"><i class="bi bi-journals"></i></i></span>
              <div class="ms-4 h6 fw-normal mb-0">
                <div class="d-flex">
                  <h5 class="purecounter mb-0 fw-bold text-white" data-purecounter-start="0" data-purecounter-end="6" data-purecounter-delay="300" data-purecounter-duration="0">4</h5>
                </div>
                <p class="mb-0 text-white">Current Courses</p>
              </div>
            </div>
          </div>
          <!-- Counter item -->
          <div class="col-sm-6 col-xl-3">
            <div class="d-flex justify-content-center align-items-center p-4 user-summary2 bg-opacity-10 rounded-3">
              <span class="display-6 lh-1 text-warning mb-0"><i class="bi bi-file-earmark-check"></i></span>
              <div class="ms-4 h6 fw-normal mb-0">
                <div class="d-flex">
                  <h5 class="purecounter mb-0 fw-bold text-warning" data-purecounter-start="0" data-purecounter-end="6" data-purecounter-delay="300" data-purecounter-duration="0">2</h5>
                 
                </div>
                <p class="mb-0 text-warning">Completed Courses</p>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!--user short summary ENDS-->

    <!--upcoming table STARTS-->
    <div class="container">
        <!-- Tabs START -->
        <ul class="nav nav-pills justify-content-sm-center mb-4 px-3 bg-dark" id="course-pills-tab" role="tablist" style="border-radius: 21px;height: auto; padding: 6px 0px;">
            <!-- Tab item -->
            <li class="nav-item me-2 me-sm-5" role="presentation">
                <button class="nav-link mb-2 mb-md-0 active fw-bold" id="course-pills-tab-main" data-bs-toggle="pill" data-bs-target="#course-pills-tabs-1" type="button" role="tab" aria-controls="course-pills-tabs-1" aria-selected="false" tabindex="-1">{{ subject.name }}</button>
            </li>
        </ul>
        <div class="d-flex mx-4">


            
            <!-----------------------------------ADD Chapter Modal------------------------------------------------------->
            <button type="button" class="btn btn-dark me-auto mx-2" data-bs-toggle="modal" data-bs-target="#addChapterModal"><i class="bi bi-plus-lg"></i> Add Chapter</button>
            <div class="modal fade" id="addChapterModal" tabindex="-1" aria-labelledby="addChapterModalLabel" aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog modal-dialog-centered  modal-dialog-scrollable">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add A New Chapter</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <form action="/admin_module/{{ subject.id }}" method="post">
                              
                            <div class="form-floating mb-3">
                                  <input type="text" class="form-control" id="chapter_name" name="chapter_name" placeholder="Chapter Name" required>
                                  <label for="chapter_name">Chapter Name</label>
                              </div>
                                
                              <div class="form-floating mb-3">
                                  <textarea  type="text" class="form-control" id="chapter_desp" name="chapter_desp" placeholder="Chapter Description" style="height: 100px" required></textarea>
                                  <label for="chapter_desp">Chapter Description</label>
                              </div>

                              <div class="modal-footer">
                                  <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                                  <input type="submit" class="btn btn-dark" value="Add Chapter" style="width: 120px;">
                              </div>
                          </form>
                      </div>
                      
                    </div>
                  </div>
            </div>
            <!--------------------------------------ADD Chapter Modal END--------------------------------------------------->
            
            
            <!-----------------------------------MODIFY Chapter Modal------------------------------------------------------->
            <div class="modal fade" id="modifyChapterModal" tabindex="-1" aria-labelledby="modifyChapterModalLabel" aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog modal-dialog-centered  modal-dialog-scrollable">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modify Chapter</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <form action="" id="modify_chapter_info"  method="post">
                              
                            <div class="form-floating mb-3">
                                  <input type="text" class="form-control" id="mod_chapter_name" name="mod_chapter_name" placeholder="Chapter Name" required>
                                  <label for="mod_chapter_name">Chapter Name</label>
                              </div>
                                
                              <div class="form-floating mb-3">
                                  <textarea  type="text" class="form-control" id="mod_chapter_desp" name="mod_chapter_desp" placeholder="Chapter Description" style="height: 100px" required></textarea>
                                  <label for="mod_chapter_desp">Chapter Description</label>
                              </div>

                              <div class="modal-footer">
                                    <button type="button" class="btn btn-warning " id="chapterReset" value="" onclick="getChapterDetails(value)">Reset</button>&nbsp;&nbsp;
                                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                                    <input type="submit" class="btn btn-dark" value="Modify Chapter" style="width: 132px;">
                              </div>
                          </form>
                      </div>
                      
                    </div>
                  </div>
            </div>
            <!--------------------------------------MODIFY Chapter Modal END--------------------------------------------------->  
            







            <!--------------------------------------Add Lecture Modal ----------------------------------------------------------------------------------------------------------------------->
            <div class="modal fade" id="addLectureModal" tabindex="-1" aria-labelledby="addLectureModalLabel" aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog modal-dialog-centered  modal-dialog-scrollable">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add A New Lecture</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <form action="" id="add_lecture_info" method="post">
                              
                            <div class="form-floating mb-3">
                                  <input type="text" class="form-control" id="lecture_name" name="lecture_name" placeholder="Lecture Name" required>
                                  <label for="lecture_name">Lecture Name</label>
                            </div>

                            <div class="form-floating mb-3">
                                <textarea  type="text" class="form-control" id="lect_desp" name="lect_desp" placeholder="Lecture Description" style="height: 100px" required></textarea>
                                <label for="lect_desp">Lecture Description</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="lect_link" name="lect_link" placeholder="Link" required>
                                <label for="lect_link">Link</label>
                            </div>

                              <div class="modal-footer">
                                  <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                                  <input type="submit" class="btn btn-dark" value="Add Lecture" style="width: 120px;">
                              </div>
                          </form>
                      </div>
                      
                    </div>
                  </div>
            </div>
            <!---------------------------------------Add Lecture Modal END------------------------------------------------------------------------------------------------------------->
            
            <!----------------------------------------Modify Lecture Modal -------------------------------------------------------------------------->
            <div class="modal fade" id="modifyLectureModal" tabindex="-1" aria-labelledby="modifyLectureModalLabel" aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog modal-dialog-centered  modal-dialog-scrollable">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modify Lecture</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <form action="" id="modify_lecture_info" method="post">
                              
                            <div class="form-floating mb-3">
                                  <input type="text" class="form-control" id="mod_lecture_name" name="mod_lecture_name" placeholder="Lecture Name" required>
                                  <label for="mod_lecture_name">Lecture Name</label>
                            </div>

                            <div class="form-floating mb-3">
                                <textarea  type="text" class="form-control" id="mod_lect_desp" name="mod_lect_desp" placeholder="Lecture Description" style="height: 100px" required></textarea>
                                <label for="mod_lect_desp">Lecture Description</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="mod_lect_link" name="mod_lect_link" placeholder="Link" required>
                                <label for="mod_lect_link">Link</label>
                            </div>

                              <div class="modal-footer">
                                  <button type="button" class="btn btn-warning " id="lectureReset" value="" onclick="getLectureDetails(value)">Reset</button>&nbsp;&nbsp;
                                  <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                                  <input type="submit" class="btn btn-dark" value="Modify Lecture" style="width: 130px;">
                              </div>
                          </form>
                      </div>
                      
                    </div>
                  </div>
            </div>
            <!---------------------------------------Modify Lecture Modal END------------------------------------------------------------------------------------------------------------->
            
            
            
            



            <!--------------------------------------Add Quiz Modal ----------------------------------------------------------------------------------------------------------------------->
            <div class="modal fade" id="addQuizModal" tabindex="-1" aria-labelledby="addQuizModalLabel" aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog modal-dialog-centered  modal-dialog-scrollable">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add A New Quiz</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <form action="" id="add_quiz_info" method="post">
                              
                            <div class="form-floating mb-3">
                                  <input type="datetime-local" class="form-control" id="release_date" name="release_date" placeholder="Release Date & Time" required>
                                  <label for="release_date">Release Date & Time</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="datetime-local" class="form-control" id="deadline" name="deadline" placeholder="Deadline">
                                <label for="deadline">Deadline</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="time" class="form-control" id="time_duration" name="time_duration" placeholder="Time Duration">
                                <label for="time_duration">Time Duration</label>
                            </div>   

                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="total_attempts" name="total_attempts" placeholder="Total Attempts">
                                <label for="total_attempts">Total Attempts</label>
                            </div>

                            <div class="form-control mb-3">
                                <input type="radio" onclick="fetchAllLectures(value)" class="btn-check" name="chapter_lecture" id="chapter_lecture" autocomplete="off">
                                <label class="btn btn-outline-dark" for="chapter_lecture">Click Here To Select Lecture For This Quiz (optional)</label>
                            </div>
                            <div  id="all_lectures">
                                <!--ALL LECTURES COMES-->
                            </div>

                              <div class="modal-footer">
                                  <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                                  <input type="submit" class="btn btn-dark" value="Add Quiz" style="width: 120px;">
                              </div>
                          </form>
                      </div>
                      
                    </div>
                  </div>
            </div>
            <!---------------------------------------Add Quiz Modal END------------------------------------------------------------------------------------------------------------->

            <!--------------------------------------Modify Quiz Modal ----------------------------------------------------------------------------------------------------------------------->
            <div class="modal fade" id="modifyQuizModal" tabindex="-1" aria-labelledby="modifyQuizModalLabel" aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog modal-dialog-centered  modal-dialog-scrollable">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modify Quiz</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <form action="" id="modify_quiz_info" method="post">
                              
                            <div class="form-floating mb-3">
                                  <input type="datetime-local" class="form-control" id="mod_release_date" name="mod_release_date" placeholder="Release Date & Time" required>
                                  <label for="mod_release_date">Release Date & Time</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="datetime-local" class="form-control" id="mod_deadline" name="mod_deadline" placeholder="Deadline">
                                <label for="mod_deadline">Deadline</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="time" class="form-control" id="mod_time_duration" name="mod_time_duration" placeholder="Time Duration">
                                <label for="mod_time_duration">Time Duration</label>
                            </div>   

                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="mod_total_attempts" name="mod_total_attempts" placeholder="Total Attempts">
                                <label for="mod_total_attempts">Total Attempts</label>
                            </div>

                            <h5><code>Lectures</code></h5>
                            <div  id="mod_all_lectures">
                                <!--ALL LECTURES COMES-->
                            </div>

                              <div class="modal-footer">
                                  <button type="button" class="btn btn-warning " id="quizReset" value="" onclick="getQuizDetails(value)">Reset</button>&nbsp;&nbsp;
                                  <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                                  <input type="submit" class="btn btn-dark" value="Modify Quiz" style="width: 132px;">
                              </div>
                          </form>
                      </div>
                      
                    </div>
                  </div>
            </div>
            <!---------------------------------------Modify Quiz Modal END------------------------------------------------------------------------------------------------------------->
            





            <!-----------------------------------Chapter Deletion Confirmation--------------------------------------------------------------------->
            <div class="modal fade" id="deleteChapterModal" tabindex="-1" aria-labelledby="deleteChapterModalLabel" aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog modal-dialog-centered  modal-dialog-scrollable">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="delete_chapter_name"></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        Are you sure you want to delete in this chapter?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                        <a href="" id="confirm_chapter_delete" type="button" class="btn btn-danger">Delete</a>
                      </div>
                    </div>
                  </div>
            </div>
            <!---------------------------------------------------------------------------------------------------------------------------------->

            <!-----------------------------------Lecture Deletion Confirmation--------------------------------------------------------------------->
            <div class="modal fade" id="deleteLectureModal" tabindex="-1" aria-labelledby="deleteLectureModalLabel" aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog modal-dialog-centered  modal-dialog-scrollable">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="delete_lecture_name"></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        Are you sure you want to delete in this lecture?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                        <a href="" id="confirm_lecture_delete" type="button" class="btn btn-danger">Delete</a>
                      </div>
                    </div>
                  </div>
            </div>
            <!---------------------------------------------------------------------------------------------------------------------------------->

            <!-----------------------------------Quiz Deletion Confirmation--------------------------------------------------------------------->
            <div class="modal fade" id="deleteQuizModal" tabindex="-1" aria-labelledby="deleteQuizModalLabel" aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog modal-dialog-centered  modal-dialog-scrollable">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="delete_quiz_name"></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        Are you sure you want to delete in this quiz?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                        <a href="" id="confirm_quiz_delete" type="button" class="btn btn-danger">Delete</a>
                      </div>
                    </div>
                  </div>
            </div>
            <!---------------------------------------------------------------------------------------------------------------------------------->
            








            
            
            
            
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-dark" type="submit"><i class="bi bi-search"></i></button>
            </form>
        </div>
        <!-- Tabs END -->
    
        <!-- Tabs content START -->
        <div style="width: 1268px; margin-left: 4px;">
            <!-- Content START -->
            <div style="padding-left: 28px; padding-bottom: 70px; padding-top: 25px;">

                    <!---------------------------------Accordin/Chapters STARTS------------------------->
                    {% for chapter in chapters %}
                    <div class="accordion border border-dark" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ chapter.id }}" aria-expanded="false" aria-controls="collapsTwo" fdprocessedid="58sgg4">
                                        Chapter: {{ loop.index }} {{ chapter.name }}
                                </button>
                            </h2>
                            <div id="{{ chapter.id }}" class="accordion-collapse collapse show">
                                <div class="accordion-body">
                                    <div>
                                        <!-- Modify Chapter Button -->
                                        <button type="button" class="btn btn-warning me-auto mx-2 mb-2" id="sub{{ chapter.id }}" value="{{ chapter.id }}" onclick="getChapterDetails('{{ chapter.id }}')" data-bs-toggle="modal" data-bs-target="#modifyChapterModal"><i class="bi bi-pencil"></i> Edit Chapter</button>
                                        <button type="button" class="btn btn-danger me-auto mx-2 mb-2" onclick="fillChapterDeleteModal('{{ chapter.id }}','{{  chapter.name }}')" data-bs-toggle="modal" data-bs-target="#deleteChapterModal"><i class="bi bi-trash"></i> Delete</button>
                                        <!--upcoming table STARTS-->
                                        <div class="container">
                                            <!-- Tabs START -->
                                            <ul class="nav nav-pills justify-content-sm-center mb-0 px-3 bg-dark chapter-bar" id="course-pills-tab00" role="tablist">
                                                <!-- Tab item -->
                                                <li class="nav-item me-2 me-sm-5" role="presentation">
                                                    <button class="nav-link mb-2 mb-md-0 active p-1" id="chapter-head-lecture-{{ chapter.id}}" data-bs-toggle="pill" data-bs-target="#chapter-content-lecture-{{ chapter.id}}" type="button" role="tab" aria-controls="course-pills-tabs-11" aria-selected="false" tabindex="-1">Lectures</button>
                                                </li>
                                                <!-- Tab item -->
                                                <li class="nav-item me-2 me-sm-5" role="presentation">
                                                    <button class="nav-link mb-2 mb-md-0 p-1" id="chapter-head-quizzes-{{ chapter.id}}" data-bs-toggle="pill" data-bs-target="#chapter-content-quizzes-{{ chapter.id}}" type="button" role="tab" aria-controls="course-pills-tabs-22" aria-selected="false" tabindex="-1">Quizzes</button>
                                                </li>
                                            </ul>
                                           
                                            <!-- Tabs END -->

                                            <!-- Tabs content START -->
                                            <div class="tab-content" id="course-pills-tabContent00">



                                                <!-- Content START -->
                                                <div class="tab-pane fade active show" id="chapter-content-lecture-{{ chapter.id}}" role="tabpanel" aria-labelledby="course-pills-tab-1" style="padding-left: 28px; padding-bottom: 70px; padding-top: 25px;">
                                                    
                                                    <div class="d-flex mb-3">
                                                        <!-----------------------------------ADD Lecture Modal Button-------------------------------------------------------->
                                                        <button type="button" class="btn btn-dark me-auto" onclick="addLectureAction('{{ chapter.id }}')" data-bs-toggle="modal" data-bs-target="#addLectureModal"><i class="bi bi-plus-lg"></i> Add Lecture</button>
                                                        <!--------------------------------------ADD Lecture Modal Button END--------------------------------------------------->  
                                                    </div>

                                                    <table class="table table-hover">
                                                        <thead class="table-dark">
                                                        <tr>
                                                            <th scope="col">S No.</th>
                                                            <th scope="col">Name</th>
                                                            <th scope="col">Description</th>
                                                            <th scope="col">Link</th>
                                                            <th scope="col">Action</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody class="table-group-divider">
                                                        {% for lecture in lectures[chapter.id] %}
                                                        <tr>
                                                            <th scope="row">{{ loop.index }}</th>
                                                            <td class="fw-semibold">{{ lecture.name }}</td>
                                                            <td class="text-wrap" style="width: 28rem;" >{{ lecture.description }}</td>
                                                            <td><a href="{{ lecture.link }}">Link</a></td>
                                                            <td>
                                                                <button type="button" class="btn btn-primary view-btn" id="chap{{ lecture.id }}" value="{{ lecture.id }}" onclick="getLectureDetails('{{ lecture.id }}')" data-bs-toggle="modal" data-bs-target="#modifyLectureModal"><i class="bi bi-pencil"></i></button>
                                                                <button type="button" class="btn btn-danger view-btn" onclick="fillLectureDeleteModal('{{ lecture.id }}','{{  lecture.name }}')" data-bs-toggle="modal" data-bs-target="#deleteLectureModal"><i class="bi bi-trash"></i></button>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- Content END -->








                                                <!-- Content START -->
                                                <div class="tab-pane fade" id="chapter-content-quizzes-{{ chapter.id}}" role="tabpanel" aria-labelledby="course-pills-tab-1" style="padding-left: 28px; padding-bottom: 70px; padding-top: 25px;">
                                                    <div class="d-flex mb-3">
                                                        <!-----------------------------------ADD Quiz Modal Button---------------------------------------------------------------------------------------------------------------------------------------------->
                                                        <button type="button" class="btn btn-dark me-auto" onclick="addQuizAction('{{ chapter.id }}')" data-bs-toggle="modal" data-bs-target="#addQuizModal"><i class="bi bi-plus-lg"></i> Add Quiz</button>
                                                        <!--------------------------------------ADD Quiz Modal Button END------------------------------------------------------------------------------------------------------------------------------------->  
                                                    </div>
                                                    <table class="table table-hover">
                                                        <thead class="table-dark">
                                                        <tr>
                                                            <th scope="col">S No.</th>
                                                            <th scope="col">Release Date</th>
                                                            <th scope="col">Time Duration</th>
                                                            <th scope="col">Total Attempts</th>
                                                            <th scope="col">Deadline</th>
                                                            <th scope="col">Action</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody class="table-group-divider">
                                                        {% for quiz in quizzes[chapter.id] %}    
                                                        <tr>
                                                            <th scope="row">{{ loop.index }}</th>
                                                            <td class="text-success fw-semibold">{{ quiz.release_date }}</td>
                                                            <td class="fw-semibold">{{ quiz.time_duration }}</td>
                                                            <td class="fw-semibold">{{ quiz.total_attempts }}</td>
                                                            <td class="text-danger fw-bold">{{ quiz.deadline }}</td>
                                                            <td>
                                                                <a href="/admin_question/{{ subject.id }}/{{ chapter.id }}/{{ quiz.id }}" class="btn btn-warning view-btn" type="button"><i class="bi bi-card-list"></i></a>
                                                                <button type="button" class="btn btn-primary view-btn" id="chap{{ quiz.id }}" value="{{ quiz.id }}" onclick="getQuizDetails('{{ quiz.id }}')" data-bs-toggle="modal" data-bs-target="#modifyQuizModal"><i class="bi bi-pencil"></i></button>
                                                                <button type="button" class="btn btn-danger view-btn" onclick="fillQuizDeleteModal('{{ quiz.id }}','{{  quiz.name }}')" data-bs-toggle="modal" data-bs-target="#deleteQuizModal"><i class="bi bi-trash"></i></button>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- Content END -->


                                                
                                            </div>
                                            <!-- Tabs content END -->
                                        </div>
                                        <!--upcoming table ENDS-->




                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                    <!---------------------------------Accordin/Chapters ENDS--------------------------->


            </div>
            <!-- Content END -->
        </div>
        <!-- Tabs content END -->
    </div>
    <!--upcoming table ENDS-->

</div>
<script>
    //Preview Modify chapter Form while Editing
    async function getChapterDetails(chapterId) {
   try {
       let response = await fetch(`http://127.0.0.1:5000/modify_module/${chapterId}`);
       let data = await response.json();

       if (data.error) {
           alert("Instructor not found!");
           return;
       }
        console.log("Fetched Data:", data);
        mod_chapter_name.value = data.name 
        mod_chapter_desp.value = data.description
        modify_chapter_info.action = `/modify_module/${chapterId}`;
        //Assignming subjects details in modify form by using ({id_name}.value)
        chapterReset.value = data.id;

   } catch (error) {
       console.error("Error fetching subject details:", error);
   }
}



    //for adding form action link for adding lecture
    function addLectureAction(chapterId)
    {
        add_lecture_info.action = `/admin_lecture/${ chapterId }`   
    }

    //Preview Modify Lecture Form while Editing
    async function getLectureDetails(lectureId)
    {
        try {
       let response = await fetch(`http://127.0.0.1:5000/modify_lecture/${lectureId}`);
       let data = await response.json();

       if (data.error) {
           alert("Instructor not found!");
           return;
       }
        console.log("Fetched Data:", data);
        mod_lecture_name.value = data.name 
        mod_lect_desp.value = data.description
        mod_lect_link.value = data.link
        modify_lecture_info.action = `/modify_lecture/${lectureId}`;
        //Assignming subjects details in modify form by using ({id_name}.value)
        lectureReset.value = data.id;

   } catch (error) {
       console.error("Error fetching subject details:", error);
   }
    }



    //for adding form action link for adding quiz
    function addQuizAction(chapterId)
    {
        add_quiz_info.action = `/admin_quiz/${ chapterId }`
        chapter_lecture.value = chapterId   
    }

    //FOR LECTURES RADIO
    async function fetchAllLectures(chapterId)
    {
        try {
        let response = await fetch(`http://127.0.0.1:5000//admin_lecture/${chapterId}/all_lectures`);
        let data = await response.json();
        if (data.error) {
            alert("Lectures not found!");
            return;
        }
        console.log("Fetched Lecture Data:", data);

        all_lectures.innerHTML = "" //ensures same options is not added while clicking dropdown multiple times
         
        // Loop through the JSON data
        data.forEach(lecture => {
            all_lectures.innerHTML += `
            <div class="input-group mb-3">
                <input class="form-check-input" type="radio" id = "${lecture.id}" name = "oneLecture" value = "${lecture.id}" aria-label="Checkbox for following text input">  
                &nbsp;&nbsp;<label class="form-check-label" for="${lecture.id}">${lecture.name}</label>&nbsp;&nbsp;<a href="${lecture.link}">Link</a>
            </div>`
        });

        } catch (error) {
            console.error("Error fetching subject details:", error);
        }
    }

    //Preview Modify Quiz Form while Editing
    async function getQuizDetails(quizId)
    {
        try {
       let response = await fetch(`http://127.0.0.1:5000/modify_quiz/${quizId}`);
       let data = await response.json();

       if (data.error) {
           alert("Quiz not found!");
           return;
       }
        console.log("Fetched Quiz Data:", data);
        mod_release_date.value = data.release_date
        mod_deadline.value = data.deadline
        mod_time_duration.value = data.time_duration
        mod_total_attempts.value = data.total_attempts
        modify_quiz_info.action = `/modify_quiz/${quizId}`;
        //Assignming lectures details in modify form by using ({id_name}.value)
        quizReset.value = data.id;

        mod_all_lectures.innerHTML = ""

        let isChecked = false //for assigning only checked/selected lecture

        all_lecture=data.all_lectures
        all_lecture.forEach(lecture => {
            
           
        if (data.selected_lecture == lecture.id)
            {  isChecked = true}

            mod_all_lectures.innerHTML += `
            <div class="input-group mb-3">
                <input class="form-check-input" type="radio" id = "${lecture.id}" name = "mod_oneLecture" value = "${lecture.id}" aria-label="Checkbox for following text input" ${isChecked ? 'checked' : ''}>  
                &nbsp;&nbsp;<label class="form-check-label" for="${lecture.id}">${lecture.name}</label>&nbsp;&nbsp;<a href="${lecture.link}">Link</a>
            </div>`

            isChecked = false
        });

   } catch (error) {
       console.error("Error fetching subject details:", error);
   }
    }

</script>

<!---------------------Filling form action for deleting subject---------------------------------------------->
<script>
    //For chapter deletion
    function fillChapterDeleteModal(chapter_id, chapterName){
        delete_chapter_name.innerHTML = chapterName
        let data_info = "chapter"
        confirm_chapter_delete.href = `/admin_delete/${data_info}/${ chapter_id }`
    }

    //For lecture deletion
    function fillLectureDeleteModal(lecture_id, lectureName){
        delete_lecture_name.innerHTML = lectureName
        let data_info = "lecture"
        confirm_lecture_delete.href = `/admin_delete/${data_info}/${ lecture_id }`
    }

    //For quiz deletion
    function fillQuizDeleteModal(quiz_id, quizName){
        delete_quiz_name.innerHTML = quizName
        let data_info = "quiz"
        confirm_quiz_delete.href = `/admin_delete/${data_info}/${ quiz_id }`
    }
</script>
{% endblock %}