{% extends 'base/base.html' %}
{% block page_title %} Login {% endblock %}

{% block page_css %}
<style>
    .form-body {
        background-color: #f5f5f5;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
        padding-bottom: 150px;
    }
    .form-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 380px;
    }
</style>
{% endblock %}


{% block page_body %}
<div class="form-body">
    <div class="py-3 text-center form-container">
      <a class="navbar-brand" href="#" style="font-weight: bold; font-size: 50px; font-family: Bebas Neue;">
        QuizMaster.in</a>
      <h3>Sign in or create account</h3>
      <div style="width: 320px; margin: 0 auto;">    
          <form action="" method="post">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" placeholder="Username" required name="username">
              <label for="floatingInput" >Username</label>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password" required name="pwd">
              <label for="floatingPassword">Password</label>
            </div>
            <br>

            <input class="btn btn-primary w-100 py-2" type="submit" fdprocessedid="0bh64" value="Sign in">
          </form><br>
          <h6>Are you a new user? <a href="/register">Register</a></h6>
        </div>
    </div>
  </div>
{% endblock %}