{% extends 'base/base.html' %}
{% block page_title %} Courses {% endblock %}

{% block page_css %}
<style>
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #212529;
    background-color: #fff;
    }

    .nav-link:focus, .nav-link:hover {
        color: #fff;
    }
    
    .nav-link {
        color: #fff;
    }
</style>
{% endblock %}

{% block page_body %}
<div class="container">
    <!-- Title -->
    <div class="row mb-4 mt-4">
        <div class="col-lg-8 mx-auto text-center">
            <h1><code>Our Courses</code></h1>
        </div>
    </div>

    <!-----------------------------------Subject Enrollment Confirmation------------------------------------------------------>
    <div class="modal fade" id="enrollSubjectModal" tabindex="-1" aria-labelledby="enrollSubjectModalLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered  modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="enroll_subject_name"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  Are you sure you want to enroll in this course?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
                <a href="/user_enrollment/{{ user_id }}/{{ subject_id }}" id="confirm_enrollment" type="button" class="btn btn-dark">Enroll</a>
              </div>
            </div>
          </div>
    </div>
    <!--------------------------------------ADD Chapter Modal END--------------------------------------------------->
    

    <!-- Tabs START -->
    <ul class="nav nav-pills justify-content-sm-center mb-4 px-3 bg-dark" id="course-pills-tab" role="tablist" style="border-radius: 21px;height: auto; padding: 6px 0px;">
        <!-- Tab item -->
        <li class="nav-item me-2 me-sm-5" role="presentation">
            <button class="nav-link mb-2 mb-md-0 active" id="course-pills-tab-1" data-bs-toggle="pill" data-bs-target="#course-pills-tabs-1" type="button" role="tab" aria-controls="course-pills-tabs-1" aria-selected="false" tabindex="-1">Data Science</button>
        </li>
        <!-- Tab item -->
        <li class="nav-item me-2 me-sm-5" role="presentation">
            <button class="nav-link mb-2 mb-md-0" id="course-pills-tab-2" data-bs-toggle="pill" data-bs-target="#course-pills-tabs-2" type="button" role="tab" aria-controls="course-pills-tabs-2" aria-selected="false" tabindex="-1">Electronic Systems</button>
        </li>
        <!-- Tab item -->
        <li class="nav-item me-2 me-sm-5" role="presentation">
            <button class="nav-link mb-2 mb-md-0" id="course-pills-tab-3" data-bs-toggle="pill" data-bs-target="#course-pills-tabs-3" type="button" role="tab" aria-controls="course-pills-tabs-3" aria-selected="false" tabindex="-1">Graphic Design</button>
        </li>
        <!-- Tab item -->
        <li class="nav-item me-2 me-sm-5" role="presentation">
            <button class="nav-link mb-2 mb-md-0" id="course-pills-tab-4" data-bs-toggle="pill" data-bs-target="#course-pills-tabs-4" type="button" role="tab" aria-controls="course-pills-tabs-4" aria-selected="false" tabindex="-1">Cyber Security</button>
        </li>
        <!-- Tab item -->
        <li class="nav-item me-2 me-sm-5" role="presentation">
            <button class="nav-link mb-2 mb-md-0" id="course-pills-tab-5" data-bs-toggle="pill" data-bs-target="#course-pills-tabs-5" type="button" role="tab" aria-controls="course-pills-tabs-5" aria-selected="true">Finance</button>
        </li>
    </ul>
    <div class="d-flex justify-content-end mx-4">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-dark" type="submit"><i class="bi bi-search"></i></button>
          </form>
    </div>
    <!-- Tabs END -->

    <!-- Tabs content START -->
    <div class="tab-content" id="course-pills-tabContent">



        <!-- Content START -->
        <div class="tab-pane fade active show" id="course-pills-tabs-1" role="tabpanel" aria-labelledby="course-pills-tab-1" style="padding-left: 28px; padding-bottom: 70px; padding-top: 25px;">
            <div class="row g-2" >
                {% for subject in subjects %}
                    {% if subject.category == "Data Science" %}
                    <!-- Card item START -->
                    <div class="col-sm-6 col-lg-4 col-xl-3">
                        <div class="card" style="width: 18rem;">
                            <img src="/static/uploads/{{ subject.sub_image }}" width="100%" height="180" class="card-img-top" alt="...">
                            <div class="card-body">
                            <h5 class="card-title">{{ subject.name }}</h5>
                            <p class="card-text">{{ subject.description[:80] }}... <a href="#" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">view more</a></p>
                            <div class="d-flex justify-content-end">
                                <a href="#" class="btn btn-outline-danger w-50">Explore</a>&nbsp;&nbsp;
                                <!-- <a href="#" class="btn btn-dark w-50">Enroll</a> -->
                                <button type="button" class="btn btn-dark w-50" id="" value="" onclick="fillSubjectEnrollModal('{{ subject.name }}', '{{ subject.id }}', '{{ user_id }}')" data-bs-toggle="modal" data-bs-target="#enrollSubjectModal">Enroll</button>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card item END -->
                    {% endif %}
                {% endfor %} 

            </div> <!-- Row END -->
        </div>
        <!-- Content END -->


        <!-- Content START -->
        <div class="tab-pane fade" id="course-pills-tabs-2" role="tabpanel" aria-labelledby="course-pills-tab-2">
            <div class="row g-4">
                {% for subject in subjects %}
                    {% if subject.category == "Electronic Systems" %}
                    <!-- Card item START -->
                    <div class="col-sm-6 col-lg-4 col-xl-3">
                        <div class="card" style="width: 18rem;">
                            <img src="/static/uploads/{{ subject.sub_image }}" width="100%" height="180" class="card-img-top" alt="...">
                            <div class="card-body">
                            <h5 class="card-title">{{ subject.name }}</h5>
                            <p class="card-text">{{ subject.description[:80] }}... <a href="#" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">view more</a></p>
                            <div class="d-flex justify-content-end">
                                <a href="#" class="btn btn-outline-danger w-50">Explore</a>&nbsp;&nbsp;
                                <!-- <a href="#" class="btn btn-dark w-50">Enroll</a> -->
                                <button type="button" class="btn btn-dark w-50" id="" value="" onclick="fillSubjectEnrollModal('{{ subject.name }}', '{{ subject.id }}', '{{ user_id }}')" data-bs-toggle="modal" data-bs-target="#enrollSubjectModal">Enroll</button>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card item END -->
                    {% endif %}
                {% endfor %} 
            </div>
        </div>
        <!-- Content END -->

        <!-- Content START -->
        <div class="tab-pane fade" id="course-pills-tabs-3" role="tabpanel" aria-labelledby="course-pills-tab-3">
            <div class="row g-4">
                {% for subject in subjects %}
                {% if subject.category == "Graphic Design" %}
                <!-- Card item START -->
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="/static/uploads/{{ subject.sub_image }}" width="100%" height="180" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">{{ subject.name }}</h5>
                        <p class="card-text">{{ subject.description[:80] }}... <a href="#" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">view more</a></p>
                        <div class="d-flex justify-content-end">
                            <a href="#" class="btn btn-outline-danger w-50">Explore</a>&nbsp;&nbsp;
                            <!-- <a href="#" class="btn btn-dark w-50">Enroll</a> -->
                            <button type="button" class="btn btn-dark w-50" id="" value="" onclick="fillSubjectEnrollModal('{{ subject.name }}', '{{ subject.id }}', '{{ user_id }}')" data-bs-toggle="modal" data-bs-target="#enrollSubjectModal">Enroll</button>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- Card item END -->
                {% endif %}
            {% endfor %} 
            </div>
        </div>
        <!-- Content END -->

        <!-- Content START -->
        <div class="tab-pane fade" id="course-pills-tabs-4" role="tabpanel" aria-labelledby="course-pills-tab-4">
            <div class="row g-4">
                {% for subject in subjects %}
                {% if subject.category == "Cyber Security" %}
                <!-- Card item START -->
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="/static/uploads/{{ subject.sub_image }}" width="100%" height="180" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">{{ subject.name }}</h5>
                        <p class="card-text">{{ subject.description[:80] }}... <a href="#" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">view more</a></p>
                        <div class="d-flex justify-content-end">
                            <a href="#" class="btn btn-outline-danger w-50">Explore</a>&nbsp;&nbsp;
                            <!-- <a href="#" class="btn btn-dark w-50">Enroll</a> -->
                            <button type="button" class="btn btn-dark w-50" id="" value="" onclick="fillSubjectEnrollModal('{{ subject.name }}', '{{ subject.id }}', '{{ user_id }}')" data-bs-toggle="modal" data-bs-target="#enrollSubjectModal">Enroll</button>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- Card item END -->
                {% endif %}
            {% endfor %} 
            </div>
        </div>
        <!-- Content END -->

        <!-- Content START -->
        <div class="tab-pane fade" id="course-pills-tabs-5" role="tabpanel" aria-labelledby="course-pills-tab-5">
            <div class="row g-4">
                {% for subject in subjects %}
                {% if subject.category == "Finance" %}
                <!-- Card item START -->
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="/static/uploads/{{ subject.sub_image }}" width="100%" height="180" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">{{ subject.name }}</h5>
                        <p class="card-text">{{ subject.description[:80] }}... <a href="#" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">view more</a></p>
                        <div class="d-flex justify-content-end">
                            <a href="#" class="btn btn-outline-danger w-50">Explore</a>&nbsp;&nbsp;
                            <!-- <a href="#" class="btn btn-dark w-50">Enroll</a> -->
                            <button type="button" class="btn btn-dark w-50" id="" value="" onclick="fillSubjectEnrollModal('{{ subject.name }}', '{{ subject.id }}', '{{ user_id }}')" data-bs-toggle="modal" data-bs-target="#enrollSubjectModal">Enroll</button>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- Card item END -->
                {% endif %}
            {% endfor %} 
            </div>
        </div>
        <!-- Content END -->
    </div>
    <!-- Tabs content END -->
</div>

<script>
    function fillSubjectEnrollModal(subjectName, subject_id, user_id){
        enroll_subject_name.innerHTML = subjectName
        confirm_enrollment.href = `/user_enrollment/${ user_id }/${ subject_id }`
    }
</script>
{% endblock %}

{% set show_footer = True %}