<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>fghh</title>
    <link rel="stylesheet" href="/static/base.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    
    


    <link rel="stylesheet" href="../assets/css/theme.min.css">
    <style>
    
    </style>
</head>

<body>
    
  <!--------------------------------------------------NavBar Start-------------------------------------------->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="padding: 0px 0px;">
        <div class="container-fluid" style="padding-left: 50px;">
            <a class="navbar-brand" href="basic.html" style="font-weight: bold; font-size: 35px; font-family: Bebas Neue;">
                <i class="bi bi-mastodon icon-style"></i>&nbsp;&nbsp;Quiz
                Master</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent"
                style="font-weight: 500; font-size: 17px; font-family: sans-serif;">
                
                <span class="navbar-text" style="margin-left: 814px;">
                    <a href="about.html"><button type="button" class="btn btn-light toggle-btn" id="aboutBtn">About Us</button></a>
                    <a href="contact.html"><button type="button" class="btn btn-light toggle-btn" id="contactBtn">Contact US</button></a>
                    <a href="help.html"><button type="button" class="btn btn-light toggle-btn" id="helpBtn">Help</button></a>
                    <a href="login.html"><button type="button" class="btn btn-outline-dark">Login</button></a>&nbsp;&nbsp;
                    <a href="register.html"><button type="button" class="btn btn-outline-dark">Sign Up</button></a>
                </span>
            </div>
        </div>
    </nav>
<!-------------------------Navbar End------------------------------------------------------------------------------>




<!-------------------------------------Main Body ----------------------------------------------------------->

<main>
    <div class="pattern-square"></div>
    <!--Who we are start-->
    <section class="mb-7 py-xl-9 py-5">
       <div class="container pb-xl-9 pb-5">
          <div class="row align-items-center g-4">
             <div class="col-lg-6 col-md-12">
                <div class="me-xl-8">
                   <h1 class="mb-3">Who we are</h1>
                   <p class="lead mb-4">We help organizations achieve their most ambitious goals and move with greater
                      agility.</p>
                   <p class="mb-6 me-xl-6">
                      With our next-generation app platform, teams easily design and deploy flexible and engaging apps
                      that power critical workflows and make valuable data actionable across the
                      enterprise.
                   </p>
                   <div class="row g-lg-3">
                      <div class="col-md-6">
                         <ul class="list-unstyled mb-3">
                            <li class="d-flex mb-3">
                               <span>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill text-primary opacity-75" viewBox="0 0 16 16">
                                     <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
                                  </svg>
                               </span>
                               <span class="ms-2">Aenean eu leo quam ornare curabitur blandit tempus.</span>
                            </li>
                            <li class="d-flex">
                               <span>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill text-primary opacity-75" viewBox="0 0 16 16">
                                     <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
                                  </svg>
                               </span>
                               <span class="ms-2">Lorem ipsum dolor sit amet consectetur.</span>
                            </li>
                         </ul>
                      </div>
                      <div class="col-md-6">
                         <ul class="list-unstyled mb-0">
                            <li class="d-flex mb-3">
                               <span>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill text-primary opacity-75" viewBox="0 0 16 16">
                                     <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
                                  </svg>
                               </span>
                               <span class="ms-2">Consectetur dolor sit, amet sectetur adipisicing.</span>
                            </li>
                            <li class="d-flex">
                               <span>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill text-primary opacity-75" viewBox="0 0 16 16">
                                     <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
                                  </svg>
                               </span>
                               <span class="ms-2">Mollitia qui sit velit, facere, quasi quisquam unde.</span>
                            </li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-lg-6 col-md-12">
                <figure>
                   <img src="1.jpg" alt="career" class="img-fluid rounded-3">
                </figure>
             </div>
          </div>
       </div>
       <div class="container">
          <div class="swiper-container swiper swiper-initialized swiper-horizontal swiper-backface-hidden" id="swiper-1" data-pagination-type="" data-speed="400" data-space-between="100" data-pagination="true" data-navigation="false" data-autoplay="true" data-autoplay-delay="3000" data-breakpoints="{&quot;480&quot;: {&quot;slidesPerView&quot;: 2}, &quot;768&quot;: {&quot;slidesPerView&quot;: 3}, &quot;1024&quot;: {&quot;slidesPerView&quot;: 5}}">
             <div class="swiper-wrapper pb-6" id="swiper-wrapper-e6dc441485102310f" aria-live="off">
                <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 5" style="width: 160px; margin-right: 30px;">
                   <figure class="text-center">
                    <i class="bi bi-search"></i>
                   </figure>
                </div>
                <div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 5" style="width: 160px; margin-right: 30px;">
                   <figure class="text-center">
                    <i class="bi bi-search"></i>
                   </figure>
                </div>
                <div class="swiper-slide" role="group" aria-label="3 / 5" style="width: 160px; margin-right: 30px;">
                   <figure class="text-center">
                      <img src="./assets/images/client-logo/clients-logo-3.svg" alt="logo">
                   </figure>
                </div>
                <div class="swiper-slide" role="group" aria-label="4 / 5" style="width: 160px; margin-right: 30px;">
                   <figure class="text-center">
                      <img src="./assets/images/client-logo/clients-logo-4.svg" alt="logo">
                   </figure>
                </div>
                <div class="swiper-slide" role="group" aria-label="5 / 5" style="width: 160px; margin-right: 30px;">
                   <figure class="text-center">
                      <img src="./assets/images/client-logo/clients-logo-5.svg" alt="logo">
                   </figure>
                </div>
                <!-- Add more slides as needed -->
             </div>
             <!-- Add Pagination -->
             <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal swiper-pagination-bullets-dynamic swiper-pagination-lock" style="width: 40px;"><span class="swiper-pagination-bullet swiper-pagination-bullet-active swiper-pagination-bullet-active-main" tabindex="0" role="button" aria-label="Go to slide 1" aria-current="true" style="left: 0px;"></span></div>
             <!-- Add Navigation -->
             <div class="swiper-navigation swiper-navigation-hidden">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
             </div>
          <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
       </div>
    </section>
    <!--Who we are end-->

    <!--Forword together start-->
    <section class="my-lg-9 my-5">
       <div class="container">
          <div class="row">
             <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                <div class="text-center mb-xl-7 mb-5">
                   <h2 class="mb-0">Our principles that keep us moving forward together.</h2>
                </div>
             </div>
          </div>
          <div class="row g-lg-7 gy-5">
             <div class="col-lg-4 col-md-4">
                <div class="mb-5">
                   
                </div>

                <h4>Our Mission</h4>
                <p class="mb-0">With technology at our core, we build global infrastructure and applications to
                   empower businesses to operate anywhere, anytime.</p>
             </div>
             <div class="col-lg-4 col-md-4">
                <div class="mb-5">
                   <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-gem text-primary" viewBox="0 0 16 16">
                      <path d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6l3-4zm11.386 3.785-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495 8 13.366l2.532-7.876-5.062.005zm-1.371-.999-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l5.113 6.817-2.192-6.82L1.5 5.5zm7.889 6.817 5.123-6.83-2.928.002-2.195 6.828z"></path>
                   </svg>
                </div>

                <h4>Our Visions</h4>
                <p class="mb-0">To be the global economic infrastructure to empower businesses of all sizes to grow
                   without borders.</p>
             </div>
             <div class="col-lg-4 col-md-4">
                <div class="mb-5">
                   <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-bullseye text-primary" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                      <path d="M8 13A5 5 0 1 1 8 3a5 5 0 0 1 0 10zm0 1A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"></path>
                      <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"></path>
                      <path d="M9.5 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"></path>
                   </svg>
                </div>

                <h4>Our Purpose</h4>
                <p class="mb-0">To connect the entrepreneurs, business builders, makers and creators with borderless
                   opportunities in every corner of the world.</p>
             </div>
          </div>
       </div>
    </section>
    <!--Forword together end-->

    <!--Team member start-->
    <section class="py-lg-9 py-5 bg-primary">
       <div class="container">
          <div class="row g-5">
             <div class="col-md-3 col-6">
                <div class="text-center">
                   <h2 class="text-white-stable">2011</h2>
                   <h5 class="text-white-stable mb-0">Founded</h5>
                </div>
             </div>
             <div class="col-md-3 col-6">
                <div class="text-center">
                   <h2 class="text-white-stable">425+</h2>
                   <h5 class="text-white-stable mb-0">Projects Shipped</h5>
                </div>
             </div>
             <div class="col-md-3 col-6">
                <div class="text-center">
                   <h2 class="text-white-stable">55+</h2>
                   <h5 class="text-white-stable mb-0">Team Members</h5>
                </div>
             </div>
             <div class="col-md-3 col-6">
                <div class="text-center">
                   <h2 class="text-white-stable">4.9</h2>
                   <h5 class="text-white-stable mb-0">Clutch Rating</h5>
                </div>
             </div>
          </div>
       </div>
    </section>
    <!--Team member end-->

    <!--Success stories-->
    <section class="py-xl-9 py-5 bg-light">
       <div class="container">
          <div class="row">
             <div class="col-xl-8 offset-xl-2 col-md-8 offset-md-2">
                <div class="text-center mx-xl-7 mb-5">
                   <h2 class="mb-3">Read the real-life success stories of the companies and industries.</h2>
                   <a href="#!" class="icon-link icon-link-hover fw-semicold">
                      Browse all customer stories
                      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                         <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z">
                         </path>
                      </svg>
                   </a>
                </div>
             </div>
          </div>
          <div class="table-responsive-lg">
             <div class="row flex-nowrap pb-5 me-5 me-lg-0">
                <div class="col-lg-4 col-md-6">
                   <div class="card shadow-sm h-100">
                      <div class="card-body p-lg-5">
                         <figure class="mb-5">
                            <img src="./assets/images/client-logo/clients-logo-2.svg" alt="logo">
                         </figure>
                         <p class="mb-0">
                            “Lorem ipsum dolor sit amet cons ectetur adipiscing elit uisque sagittis risus sed dolor
                            lobortis, non rutrum massa ultricies aecenas tempor, nisi nec tempus lobortis”
                         </p>
                         <div class="mt-4">
                            <h5 class="mb-0">Anita parmar</h5>
                            <small>Content Producer</small>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-lg-4 col-md-6">
                   <div class="card shadow-sm h-100">
                      <div class="card-body p-lg-5">
                         <figure class="mb-5">
                            <img src="./assets/images/client-logo/clients-logo-1.svg" alt="logo">
                         </figure>
                         <p class="mb-0">
                            “Aenean pharetra finibus mauris a porttitor. Nam dui tortor, finibus sit amet feugiat
                            porta, tempus in odio. Interdum et malesuada fames ac ante ipsum primis in
                            faucibus.”
                         </p>
                         <div class="mt-4">
                            <h5 class="mb-0">Jitu Chauhan</h5>
                            <small>Studio Manager</small>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-lg-4 col-md-6">
                   <div class="card shadow-sm h-100">
                      <div class="card-body p-lg-5">
                         <figure class="mb-5">
                            <img src="./assets/images/client-logo/clients-logo-3.svg" alt="logo">
                         </figure>
                         <p class="mb-0">“Pellentesque sit amet turpis porta augue pretium dictum. Pellentesque
                            commodo bitur ut massa cursus, congue augue vitae, efficitur metus.”</p>
                         <div class="mt-4">
                            <h5 class="mb-0">Sandip Chauhan</h5>
                            <small>Senior Research Program Manager</small>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
    <!--Success stories-->

    <!--Save your time start-->
    <section class="my-lg-9 my-5">
       <div class="container">
          <div class="row">
             <div class="col-lg-8 offset-lg-2 col-md-12">
                <div class="text-center mb-xl-7 mb-5 mx-xl-8">
                   <h2 class="mb-0">Save your time and money by choosing Our highly performant team.</h2>
                </div>
             </div>
          </div>
          <div class="row g-5">
             <div class="col-lg-3 col-md-6">
                <div class="card text-center card-lift">
                   <div class="card-body py-5">
                      <figure class="mb-4">
                         <img src="./assets/images/team/team-img-4.jpg" alt="avatar" class="avatar avatar-xxl rounded-circle">
                      </figure>

                      <h5 class="mb-1">Jitu Chauhan</h5>
                      <small>Co-Founder &amp; CEO</small>
                   </div>
                </div>
             </div>
             <div class="col-lg-3 col-md-6">
                <div class="card text-center card-lift">
                   <div class="card-body py-5">
                      <figure class="mb-4">
                         <img src="./assets/images/avatar/avatar-3.jpg" alt="avatar" class="avatar avatar-xxl rounded-circle">
                      </figure>

                      <h5 class="mb-1">Anita Parmar</h5>
                      <small>Product Manager</small>
                   </div>
                </div>
             </div>
             <div class="col-lg-3 col-md-6">
                <div class="card text-center card-lift">
                   <div class="card-body py-5">
                      <figure class="mb-4">
                         <img src="./assets/images/avatar/avatar-1.jpg" alt="avatar" class="avatar avatar-xxl rounded-circle">
                      </figure>

                      <h5 class="mb-1">Sandip Chauhan</h5>
                      <small>Developer</small>
                   </div>
                </div>
             </div>
             <div class="col-lg-3 col-md-6">
                <div class="card text-center card-lift">
                   <div class="card-body py-5">
                      <figure class="mb-4">
                         <img src="./assets/images/avatar/avatar-2.jpg" alt="avatar" class="avatar avatar-xxl rounded-circle">
                      </figure>

                      <h5 class="mb-1">Manasvi Suthar</h5>
                      <small>Co-Founder</small>
                   </div>
                </div>
             </div>
             <div class="col-lg-3 col-md-6">
                <div class="card text-center card-lift">
                   <div class="card-body py-5">
                      <figure class="mb-4">
                         <img src="./assets/images/avatar/avatar-6.jpg" alt="avatar" class="avatar avatar-xxl rounded-circle">
                      </figure>

                      <h5 class="mb-1">Shweta Singh</h5>
                      <small>Sales Team Lead</small>
                   </div>
                </div>
             </div>
             <div class="col-lg-3 col-md-6">
                <div class="card text-center card-lift">
                   <div class="card-body py-5">
                      <figure class="mb-4">
                         <img src="./assets/images/avatar/avatar-4.jpg" alt="avatar" class="avatar avatar-xxl rounded-circle">
                      </figure>

                      <h5 class="mb-1">Rohan Kacha</h5>
                      <small>UX Designer</small>
                   </div>
                </div>
             </div>
             <div class="col-lg-3 col-md-6">
                <div class="card text-center card-lift">
                   <div class="card-body py-5">
                      <figure class="mb-4">
                         <img src="./assets/images/avatar/avatar-7.jpg" alt="avatar" class="avatar avatar-xxl rounded-circle">
                      </figure>

                      <h5 class="mb-1">Vallabh Sompura</h5>
                      <small>Product Designer</small>
                   </div>
                </div>
             </div>
             <div class="col-lg-3 col-md-6">
                <div class="card text-center card-lift">
                   <div class="card-body py-5">
                      <figure class="mb-4">
                         <img src="./assets/images/avatar/fallback.jpg" alt="avatar" class="avatar avatar-xxl rounded-circle">
                      </figure>

                      <h5 class="mb-1">Your Pic</h5>
                      <a href="#" class="icon-link icon-link-hover fw-semicold">
                         Join the team
                         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z">
                            </path>
                         </svg>
                      </a>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
    <!--Save your time end-->

    <!--Our awards start-->
    <section class="my-lg-9 my-5">
       <div class="container">
          <div class="row">
             <div class="col-lg-6">
                <div class="mb-xl-7 mb-5">
                   <h2 class="mb-3">Our awards</h2>
                   <p class="mb-0">We're grateful to have won a few awards along the way. Thank you to our community
                      for always pushing us to do better and build bigger.</p>
                </div>
             </div>
          </div>
          <div class="row g-6">
             <div class="col-lg-3 col-md-6 col-12">
                <figure class="text-center">
                   <img src="./assets/images/award-logo/award-logo-1.svg" alt="logo" class="">
                </figure>
             </div>
             <div class="col-lg-3 col-md-6 col-12">
                <figure class="text-center">
                   <img src="./assets/images/award-logo/award-logo-2.svg" alt="logo" class="">
                </figure>
             </div>
             <div class="col-lg-3 col-md-6 col-12">
                <figure class="text-center">
                   <img src="./assets/images/award-logo/award-logo-4.svg" alt="logo" class="">
                </figure>
             </div>
             <div class="col-lg-3 col-md-6 col-12">
                <figure class="text-center">
                   <img src="./assets/images/award-logo/award-logo-3.svg" alt="logo" class="">
                </figure>
             </div>
          </div>
       </div>
    </section>
    <!--Our awards start-->

    <!--Speak with expert start-->
    <section class="my-9">
       <div class="container">
          <div class="row line-pattern bg-primary-gradient rounded-3 p-7 g-0">
             <div class="col-lg-8 offset-lg-2 z-1">
                <div class="text-center py-md-7">
                   <h2 class="h1 text-white-stable">Want to speak with a expert?</h2>
                   <p class="text-white-50 px-lg-7 mb-5">
                      We’d love to hear about your brand and business challenges, even if you’re not sure what your
                      next step is. No pitch, no strings attached.
                   </p>
                   <a href="#!" class="btn btn-dark">Let's talk</a>
                </div>
             </div>
          </div>
       </div>
    </section>
    <!--Speak with expert end-->
 </main>

<!----------------------------------------Main Body End --------------------------------------------------------->



<!-----------------------------Start FOOTER -------------------------------------------------------------->

<div class="page-footer">
    <footer class="bg-dark text-white pt-2 pb-2">
        <div class="container text-center text-md-start">
            <div class="d-flex" >
                <!-- Logo & Description -->
                <div class="col-md-3 col-lg-3 col-xl-3 mt-2 me-auto">
      
                    <p class="text-uppercase mb-4"  style="font-weight: bold; font-size: 35px; font-family: Bebas Neue;"><i class="bi bi-mastodon icon-style"></i>&nbsp;Quiz Master</p>
                    <p><i class="bi bi-envelope"></i>&nbsp;support@quizmaster.iitm.ac.in</p>
                    <p><i class="bi bi-telephone"></i>&nbsp;7850999966</p>
                  </div>
      
                <!-- Quick Links -->
                
      
                <!-- Social Media Links -->
                <div class="col-md-3 col-lg-3 col-xl-3 mt-2" style="margin-right: -112px;">
                
                    <i class="bi bi-facebook icon-style" ></i>&nbsp;&nbsp;
                    <i class="bi bi-linkedin icon-style"></i>&nbsp;&nbsp;
                    <i class="bi bi-instagram icon-style"></i>&nbsp;&nbsp;
                    <i class="bi bi-twitter-x icon-style"></i>&nbsp;
                    <i class="bi bi-youtube icon-style"></i>
                    <br><br><br>
                    <p>
                      <a href="#" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Privacy Policy</a> |
                      <a href="#" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Terms & Conditions</a>
                    </p>
      
                </div>
            </div>
      
            <!-- Copyright -->
            
        </div>
      </footer>
      <br>
      <div >
            <h5 class="" style="text-align: center;">
              <p style="font-weight: bold; font-size: 20px; font-family: Bebas Neue;">
                <i class="bi bi-c-circle"></i>  2025 QUIZ MASTER <i class="bi bi-mastodon"></i> | All Rights Reserved
              </p>  
            </h5>
      </div>
</div>

<!-- -------- END FOOTER 7 w/ DARK BACKGROUND AND 3 COLUMNS ------------------------------------------- -->










    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous">
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Get the current page URL
            let currentPage = window.location.pathname.split("/").pop();
            console.log("Current Page URL:", currentPage)
    
            // Map pages to button IDs
            const pageMap = {
                "about.html": "aboutBtn",
                "contact.html": "contactBtn",
                "help.html": "helpBtn"
            };
            
            // If current page matches, add active state
            if (pageMap[currentPage]) {
                let activeButton = document.getElementById(pageMap[currentPage]);
                if (activeButton) {
                    activeButton.classList.remove("btn-light");
                    activeButton.classList.add("btn-dark"); // Active Effect
                }
            }
        });
    </script> 
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/theme.min.js"></script>
</body>

</html>