
<div>
    <!----------------------------------------------Quiz Main Heading STARTS--------------------------------------------->
        <div class="d-flex justify-content-between border border-dark my-3 rounded-5" style="height: 33px;" >
            <span class="badge rounded-pill text-bg-dark py-2" style="font-size: 14px;">Chapter 1: Graded Assignment 1 </span>
            <h4><code>Duration: 02:56:46</code></h4>
            <span class="badge rounded-pill text-bg-danger py-2" style="font-size: 14px;" >Deadline : 25-04-2025</span>
        </div>
        <!----------------------------------------------Quiz Main Heading ENDS------------------------------------------>

        <!----------------------------------------------Quiz Questions STARTS---------------------------------------->
        <form action="/register" method="post">
            <div class="d-flex align-items-center border border-dark py-5 px-5 my-3 rounded-3">
                <div class="lh-1 w-100 question">
                    <div class="d-flex w-100">
                        <p class="">Q1. Which jinja2 function is used to render template ? </p><strong class="ms-auto">2 points</strong>
                    </div>                        
                        <div class="form-check">
                            <input class="form-check-input border border-dark" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">a. flask</label><br><br>
                            
                            <input class="form-check-input border border-dark" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                            <label class="form-check-label" for="flexRadioDefault2">b. django</label><br><br>

                            <input class="form-check-input border border-dark" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                            <label class="form-check-label" for="flexRadioDefault3">c. render_template()</label><br><br>

                            <input class="form-check-input border border-dark" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
                            <label class="form-check-label" for="flexRadioDefault4">d. debug=TRUE</label>
                        </div>        
                </div>
            </div>

            <div class="d-flex align-items-center border border-dark py-5 px-5 my-3 rounded-3">
                <div class="lh-1 w-100 question">
                    <div class="d-flex w-100">
                        <p class="">Q1. Which jinja2 function is used to render template ? </p><strong class="ms-auto">2 points</strong>
                    </div>                        
                        <div class="form-check">
                            <input class="form-check-input border border-dark" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">a. flask</label><br><br>
                            
                            <input class="form-check-input border border-dark" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                            <label class="form-check-label" for="flexRadioDefault2">b. django</label><br><br>

                            <input class="form-check-input border border-dark" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                            <label class="form-check-label" for="flexRadioDefault3">c. render_template()</label><br><br>

                            <input class="form-check-input border border-dark" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
                            <label class="form-check-label" for="flexRadioDefault4">d. debug=TRUE</label>
                        </div>        
                </div>
            </div>

            <div class="d-flex align-items-center border border-dark py-5 px-5 my-3 rounded-3">
                <div class="lh-1 w-100 question">
                    <div class="d-flex w-100">
                        <p class="">Q1. Which jinja2 function is used to render template ? </p><strong class="ms-auto">2 points</strong>
                    </div>                        
                        <div class="form-check">
                            <input class="form-check-input border border-dark" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">a. flask</label><br><br>
                            
                            <input class="form-check-input border border-dark" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                            <label class="form-check-label" for="flexRadioDefault2">b. django</label><br><br>

                            <input class="form-check-input border border-dark" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                            <label class="form-check-label" for="flexRadioDefault3">c. render_template()</label><br><br>

                            <input class="form-check-input border border-dark" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
                            <label class="form-check-label" for="flexRadioDefault4">d. debug=TRUE</label>
                        </div>        
                </div>
            </div>

            <div class="d-flex align-items-center border border-dark py-5 px-5 my-3 rounded-3">
                <div class="lh-1">
                <h1 class="h6 mb-0 text-dark lh-1">Bootstrap</h1>
                </div>
            </div>

            <div class="d-flex align-items-center border border-dark py-5 px-5 my-3 rounded-3">
                <div class="lh-1">
                <h1 class="h6 mb-0 text-dark lh-1">Bootstrap</h1>
                </div>
            </div>

            <input class="btn btn-dark mb-3" type="submit" value="Submit Answers">
        </form>    
        <!----------------------------------------------Quiz Questions ENDS------------------------------------------->
</div>